<div class="container w-100">
    
    <div class="patterns">
    <div class="d-flex justify-content-between">
    <div class="row w-100">
        <div class="col-md-8">
                <div class="home__data">
                    <h1 class="home__title"><br><p>Olá,</p>Eu sou o <p class="home__title-color">Victor Rigoleto</p> Desenvolvedor <p>FullStack Jr</p></h1>
            
                    <a href="contato.html" class="button">Saiba mais</a>
                    
                </div>
    </div>
</div>


    <div class="row w-100 ">
        <div class="col-md-4 mt-5">
            <div class="home__img">    
                <img src="https://i.imgur.com/KksLbXW.png">
            </div>
        </div>
        </div>
    </div>
</div>
</div>
    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
        </div>
    </div>
