.home{
    position: relative;
    z-index: 1;
}
    .home__title{
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 600;
    color: black;
  }
  .home__title-color{
    color: #f21495;
  }
  .home__img{
    max-width: 50px;
    max-height: 50px;
  }

  .button{
    display: inline-block;
    background-color: #f21495;
    color: #fff;
    padding: 12px 40px;
    font-weight: 600;
    border-radius: 8px;
  }
  .button:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
    background-color: black;
  }

  .patterns{
    background-image: url(../../assets/img/patterns.png);
    background-size: cover;
    max-height: 100vh;
    max-width: 100vw;
    animation: pattersAnimation 100s infinite linear;
  }

  @keyframes pattersAnimation {
	0% {
        background-position: 0 -100vh;
    }
    10% {
    }
    100% {
        background-position: 0 100vh;
    }
}